h2 {
  color: #ffffff;
  display: block;
  font-size: 3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.loginCintainer {
  text-align: center;
  color: #d8dbe2;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif !important;
}
.App {
  text-align: center;
  background: radial-gradient(ellipse farthest-corner at center top, #d8dbe2 0%, #a9bcd0 100%);
  display: flex;
  flex-flow: column wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* App style */ 
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #b3b3e9;
  background-size: cover;
  border-radius: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cccccc;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #996666;
}

.App-link {
  color: #0d2b33;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
